.o_web_settings_dashboard_share {
	display:none !important;
}

.o_web_settings_dashboard_pills{
	display:none !important;
}

.clearfix {
	display:none !important;
}

.o_web_settings_dashboard_enterprise {
	display:none !important;
}

.o_web_settings_dashboard_planner {
	display:none !important;
}

.label-primary {
	display:none !important;
}