<section class="oe_container">
     <div class="oe_row oe_spaced">
         <h2 class="oe_slogan">Point of Sale Logo</h2>
         <h3 class="oe_slogan">Logo For Every Point of Sale</h3>
         <div>
                <h4><p>Features:</p></h4>
                <ul>
                    <li style="list-style:none !important;"><span style="color:green;"> &#9745;</span>&nbsp;&nbsp; Logo for each point of sale.</li>
                    <li style="list-style:none !important;"><span style="color:green;"> &#9745;</span>&nbsp;&nbsp; Logo in pos screen.</li>
                    <li style="list-style:none !important;"><span style="color:green;"> &#9745;</span>&nbsp;&nbsp; Logo in pos receipt.</li>
                </ul>
            </div>
         <div>
             <p>This module helps you to set a logo for every point of sale. This will help you to
                 identify the point of sale easily. You can also see this logo in pos screen and pos receipt.</p>
         </div>
    </div>
</section>

